html
  head
    include head.pug
    style(type="text/css").
      .pad {padding: 16px;}
      .box {
        overflow-x: scroll;
        max-width: 100%;
      }
  body
    div.uk-section
      div.uk-container.uk-container-expand
        a(href="/")
          img(src="/sus2image.png", style="height: 128px;")
        div#box(style="margin-top: 16px; max-width: 100%; background: #ffffff;").pad.box
          img(src=`/img/${id}.png`, style="max-width: none;")